page-area {
	.bg-style {
	    background-image: url('../assets/imgs/background.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.txt-style{
		color: yellow;
		font-size: 2rem;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
	}
	img{
	  height: 70vh;
	  width: 98%;
	  margin: auto;
	  display: block;
	  margin-top: 50px;
	}
	.btn-left {
		height: auto;
		width: 49%;
		font-size: 6rem;
		font-family: 'Montserrat', sans-serif;
		background: #E08238;
		font-weight: bold;
		margin-top: 70px;
	}
	.btn-right {
		height: auto;
		width: 49%;
		font-size: 6rem;
		font-family: 'Montserrat', sans-serif;		
		background: #A53685;
		font-weight: bold;
		margin-top: 70px;
	}
}
