page-quizz {
	.bg-style {
	    background-image: url('../assets/imgs/background.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.txt-style{
		color: white;
		font-size: 3.5rem;
		text-align: center;
		font-weight: bold;
		font-family: MinionVariableConcept;
	}
	img{
	  height: auto;
	  width: 100%;
	  margin: auto;
	  display: block;
	}
	.btn-style {
		font-size: 2.5rem;
		font-family: MinionVariableConcept;
		background: #F8ED72;
		font-weight: bold;
	}
}
