page-quizz {


	#bg-style {
	    background-image: url('../assets/imgs/Background-scan.jpg');
	    background-size: cover;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;

	}
	#txt-style{
		color: white;
		font-size: 4.5rem;
		text-align: center;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		padding-top: 80px;
	}
	img{
	  height: 48%vh;
	  width: 48%;
	  margin: auto;
	  display: block;
	  float: center;
	}
	.btn-style {
		font-size: 2.5rem;
		font-family: 'Montserrat', sans-serif;
		background: #F8ED72;
		font-weight: bold;
	}
	#plop {

	  padding-top: 5px;
	}

}