page-home {
	.bg-style {
	    background: black;
	}
	.txt-style{
		color: yellow;
		font-size: 2rem;
		text-align: center;
	}
	img{
	  height: 70vh;
	  width: auto;
	  margin: auto;
	  display: block;
	}
}
