page-home {
	.bg-style {
	    background-image: url('../assets/imgs/background.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.txt-style{
		color: yellow;
		font-size: 3rem;
		text-align: center;
	}
	img{
	  height: 50%vh;
	  width: 50%;
	  margin: auto;
	  margin-bottom: 10px;
	  display: block;
	}
}
