page-question1 {
	.bg-style {
	    background-image: url('../assets/imgs/background3.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.qimg {
	  height: 25%;
	  width: auto;
	  margin: auto;
	  display: block;
	}
	.rond {
	  height: 50%;
	  width: 50%;
	  margin: auto;
	  display: line;
	  padding-top: 70px;
	}
	.transp {
		background-color: transparent;
		color: white;
		font-size: 3rem;
		text-align: center;
	}
	.transp2 {
		background-color: transparent;
		color: white;
		font-size: 3rem;
		text-align: center;
	}
	.txt-style{
		color: white;
		font-size: 4.5rem;
		text-align: center;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
	    padding-top: 150px;
	}
	.itr {
		padding-left: 75%;
	}
}
