page-scores {
	.bg-style {
	    background-image: url('../assets/imgs/background2.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.txt-style{
		font-size: 3rem;
		text-align: center;
		background-color: transparent;
		color: white;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
	}
	img {
		margin: auto;
	    display: block;
	    width: auto;
	    height: auto;
	}
	.itr {
		padding-left: 75%;
	}
	.plop {
		padding-top: 50px;
	}
	
}
