page-tirage {
	.bg-style {
	    background-image: url('../assets/imgs/background.jpg');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.txt-style{
		color: yellow;
		font-size: 3rem;
		text-align: center;
	}
	.btn-left {
		height: auto;
		width: 49%;
		font-size: 4rem;
	}
	.btn-right {
		height: auto;
		width: 49%;
		font-size: 4rem;
	}
}
